<ion-view view-title="Sobre">

    <ion-content>
        <ion-list class="list">
            <div class="item item-divider">
                Versão do APP
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-cube"></i> 1.0.0
            </a>
        </ion-list>
        <ion-list class="list">
            <div class="item item-divider">
                Tecnologias utilizadas
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-html5"></i> HTML5
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-css3"></i> CSS3
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-angular"></i> AngularJS
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ionic"></i> Ionic
            </a>
        </ion-list>
        <ion-list class="list">
            <div class="item item-divider">
                Desenvolvido por
            </div>
            <a class="item item-icon-left" href="https://github.com/matheusmpessoa">
                <i class="icon ion-beaker"></i> Matheus Pessoa
            </a>
        </ion-list>
    </ion-content>

</ion-view>
