<ion-view view-title="Lista de Artistas">

    <ion-content>
        <div class="item-input-inset bar-light">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="query" placeholder="Pesquisa">
            </label>
        </div>
        <ion-list>
            <ion-item ng-repeat='item in artists | filter: query' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/list/{{item.shortname}}">
                <img ng-src="img/{{item.shortname}}.jpg" alt="{{ item.name }} Photo">
                <h2>{{item.name}}</h2>
                <h3>{{item.musicalGroup}}</h3>
                <p>{{item.biograph | limitTo: 150}} {{ item.biograph.length > 200 ? '&hellip;' : '' }}</p>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
