<ion-view view-title="Artists">
    <ion-content>
        <ion-list>
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <label>
                        <input type="text" ng-model="globalSearch.$" placeholder="Search">
                    </label>
                </label>
            </div>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="artist in artists" type="item-text-wrap" href="#/tab/artists/{{artist.id}}">
                <img ng-src="{{artist.face}}">
                <h2>{{artist.name}}</h2>
                <p>{{artist.lastText}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(artist)">
                    Delete
                </ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
