<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Artists Tab -->
    <ion-tab title="Artists" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/artists">
        <ion-nav-view name="tab-artists"></ion-nav-view>
    </ion-tab>

    <!-- Calendar Tab -->
    <ion-tab title="Calendar" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
